<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Stopwatch</title>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <script src="scripts/angular.min.js"></script>
</head>

<body ng-app="stopWatch" ng-controller="appCtrl as ctrl">
    <div class="container">
        <div class="row">
            <h1>Stopwatch</h1></div>
        <div class="row time">
            <div class="col-xs-1 col-xs-offset-4">{{ ctrl.timer.hours }}</div>
            <div class="col-xs-1">{{ ctrl.timer.minutes }}</div>
            <div class="col-xs-1">{{ ctrl.timer.seconds }}</div>
            <div class="col-xs-1 millisec">{{ ctrl.timer.ms }}</div>
        </div>
        <!-- <div class="row">
    <h1>{{ ctrl.timer.hours }} {{ ctrl.timer.minutes }}  {{ ctrl.timer.seconds }} </h1>
    <span class="millisec">{{ ctrl.timer.ms }}</span>
</div>
 -->
        <div class="row buttons">
            <button class="btn btn-default " ng-show="ctrl.showButton" ng-click="ctrl.startTimer(); ctrl.toggle()">Start</button>
            <button class="btn btn-default stop" ng-hide="ctrl.showButton" ng-click="ctrl.stopTimer(); ctrl.toggle()">Stop</button>
            <button class="btn btn-default" ng-disabled="!ctrl.showButton" ng-click="ctrl.resetTimer()">Reset</button>
            <button class="btn btn-default " ng-click="ctrl.splitTime()">Split</button>
            <button class="btn btn-default " ng-click="ctrl.lapTime()">Lap</button>
        </div>


        <div class="row text">
            <div ng-repeat=" obj in ctrl.splits| orderBy:'splitindex':true" class="col-xs-6 col-xs-offset-3 splits">
                <span ng-show="{{ctrl.laps.length>0}}" class="current-lap">Current Lap :</span> Split[{{ctrl.splits.length - $index}}] {{obj.hours| twoDigit}}:{{obj.minutes| twoDigit}}:{{obj.seconds|twoDigit}}:{{obj.milliseconds|threeDigit}}</div>
        </div>


        <div class="row text">
            <div ng-repeat=" array in ctrl.laps" class="col-xs-6 col-xs-offset-3 laps">
                <div>Lap[{{ctrl.laps.length - $index}}]
                    <span ng-repeat="lap in array">
            <span ng-hide = "{{array.length>1}}">{{lap.hours| twoDigit}}:{{lap.minutes| twoDigit}}:{{lap.seconds|twoDigit}}:{{lap.milliseconds|threeDigit}}</span>
                    </span>
                </div>
                <div ng-show="{{array.length>1}}">
                    <div ng-repeat="item in array | orderBy:'splitindex':true">
                        
                Split [{{array.length - $index}}] -> {{item.hours}} : {{item.minutes}} : {{item.seconds}} : {{item.milliseconds}}
              
                    </div>
                </div>
            </div>
        </div>


    </div>
    <script src="scripts/app.js"></script>
    <script src="scripts/filter.js"></script>
</body>

</html>
